<!-- Including the header layout -->

<h1>Welcome to theCPL APP</h1>

<div>
    <p>Welcome to the Cricket Tournament. Manage teams, generate players, and more!</p>
</div>

<div>
    <button><a href="/generate">Generate Teams</a></button>
    <button><a href="/teams">View Teams</a></button>
    <button><a href="/players">View Players</a></button>
</div>
